<a href="https://colab.research.google.com/github/harshaljanjani/everything-ml/blob/main/Data%20Analysis%20With%20Python/Data%20Cleaning%20Practices%20(Day%209).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Cleaning Procedure Using Pandas**

### 1) Missing Data âœ…
### 2) Handling Missing Data With Pandas
### 3) Cleaning Not Null Values
### 4) More Visualizations
### 5) Real Life Example

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# **Missing Data In NumPy: Falsy Values**

In [3]:
falsy_values = (0, False, None, '', [], {}) # All Falsy Values In Python

In [4]:
any(falsy_values)

False

In [5]:
np.nan # Stands for "Not A Number" -> Not Dissimilar To A "Virus" -> Everything That It Touches Becomes "NaN"

nan

In [6]:
# For A Numeric Array, "None" Is Replaced By "NaN"
print(3 + np.nan)
a = np.array([1, 2, 3, np.nan, None, 4], dtype='float')
print(a.sum(), a.mean())

nan
nan nan

In [7]:
np.inf # Infinite Value, Which Also Behaves Like A "Virus"
print(np.inf / 3)
print(np.inf / np.inf)
b = np.array([1, 2, 3, np.inf, np.nan, 4], dtype=np.float64)
print(b.sum())

inf
nan
nan

## **Checking For NaN Or Inf**

In [8]:
print(np.isnan(np.nan))
print(np.isinf(np.inf))
print(np.isfinite(np.nan), np.isfinite(np.inf))

True
True
False False

In [9]:
# .isnan() And .isinf() 
a = np.isinf(np.array([1, 2, 3, np.nan, np.inf, 4])) # .isnan()
b = np.isnan(np.array([1, 2, 3, np.nan, np.inf, 4])) # .isinf()
c = np.isfinite(np.array([1, 2, 3, np.nan, np.inf, 4])) # .isfinite()

In [12]:
a = np.array([1, 2, 3, np.nan, np.nan, 4])
print(a[np.isfinite(a)], a[~np.isnan(a)])
# Filtering Out The NaN and Inf Elements, The Summation And Mean Can Now Be Performed
print(a[np.isfinite(a)].sum(), a[np.isfinite(a)].mean())

[1. 2. 3. 4.] [1. 2. 3. 4.]
10.0 2.5

# **Handling Missing Data With Pandas**

In [20]:
# Utility Functions
print(pd.isnull(np.nan), pd.isna(np.nan))
print(pd.isnull(None), pd.isna(None))
# Opposite Functions
print(pd.notnull(None), pd.notnull(np.nan))
print(pd.notna(np.nan), pd.notnull(3))
print("\n")
# Utility Functions On Series And DataFrames -> Returns Mask Series / DataFrames
print(pd.isnull(pd.Series([1, np.nan, 7])), pd.notnull(pd.Series([1, np.nan, 7])))
print( "\n", 
    pd.isnull(pd.DataFrame({
    'Column A': [1, np.nan, 7],
    'Column B': [np.nan, 2, 3],
    'Column C': [np.nan, 2, np.nan]
    }))
)

True True
True True
False False
False True


0    False
1     True
2    False
dtype: bool 0     True
1    False
2     True
dtype: bool

    Column A  Column B  Column C
0     False      True      True
1      True     False     False
2     False     False      True